alembic==1.13.2
altgraph==0.17.3
appdirs==1.4.4
asgiref==3.7.2
auto-py-to-exe==2.39.0
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.5.0
certifi==2023.7.22
cffi==1.17.1
charset-normalizer==3.2.0
click==8.1.7
click-repl==0.3.0
colorama==0.4.6
cryptography==43.0.1
distlib==0.3.9
Django==4.2.7
django-daraja==1.3.0
docutils==0.20.1
durationpy==0.9
Eel==0.16.0
filelock==3.12.4
Flask==3.0.3
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
google-auth==2.35.0
greenlet==3.1.1
gunicorn==23.0.0
idna==3.4
importlib_metadata==8.5.0
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
kubernetes==31.0.0
macholib==1.16.3
Mako==1.3.5
MarkupSafe==2.1.5
mypy==1.12.0
mypy-extensions==1.0.0
mysql-connector==2.2.9
oauthlib==3.2.2
packaging==24.1
pefile==2023.2.7
phonenumbers==8.13.45
platformdirs==3.10.0
prompt_toolkit==3.0.48
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.21.0
Pygments==2.16.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyMySQL==1.1.1
pyparsing==3.1.1
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.2
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
setuptools==75.4.0
six==1.16.0
SQLAlchemy==2.0.34
sqlparse==0.4.4
tutor==18.1.3
tutor-android==18.0.0
tutor-cairn==18.0.0
tutor-credentials==18.0.0
tutor-discovery==18.0.0
tutor-ecommerce==18.0.0
tutor-forum==18.1.1
tutor-indigo==18.2.1
tutor-jupyter==18.1.0
tutor-mfe==18.0.1
tutor-minio==18.0.0
tutor-notes==18.0.0
tutor-webui==18.0.0
tutor-xqueue==18.0.0
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.5
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.0.4
whichcraft==0.6.1
WTForms==3.1.2
zipp==3.20.2
zope.event==5.0
zope.interface==6.0
